Source: vyatta-config-sync
Section: contrib/net
Priority: extra
Maintainer: Keshav Varma <keshavdv@gmail.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5), autotools-dev, autoconf

Package: vyatta-config-sync
Architecture: all
Depends: vyatta-cfg-system,
 vyatta-cfg,
 vyatta-op,
 ${misc:Depends}
Replaces: vyatta-config-sync
Description: Vyatta config-sync tools and utilites
